**/target
target
api-rust/target

*.idea
*.vscode
*.fleet

**/.DS_Store
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
README.md

# Node modules, yarn etc.
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore environment files
*.env

# Ignore database dumps
*.dump

# Misc files
#.dockerignore
.git
.cache

