
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.tool-versions

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
nbproject/*
/nbproject/private/