**/target
target
api-rust/target

*.idea
*.vscode
*.fleet

# Node modules, yarn etc.
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore environment files
*.env

# Ignore database dumps
*.dump

# Misc files
.dockerignore
.git
.cache

